* {
    margin: 0;
    width: 100%;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #1d2229;
    color: rgb(255, 255, 255)
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

header {
    background-color: #14181c;
    height: 72px;
    display: flex;
    text-align: center;
    align-items: center;
}

.header--title {
    font-weight: 600;
    font-size: 46px;
    letter-spacing: 0.08rem;
}

.button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--main {
    max-width: 275px;
    height: 65px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    background-color: #00e054;
    color: #fffdfc;
    font-size: 26px;
    border: #14181c;
    border-radius: 10px;
}

.button--hovered {
    max-width: 275px;
    height: 65px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    background-color: #038c38;
    color: #fffdfc;
    font-size: 26px;
    font-weight: 600;
    border: #14181c;
    border-radius: 10px;
}

.card--container {
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    gap: 50px;
}

.card--img {
    width: 300px;
    height: 440px;
}

.card {
    /* border: 1px solid red; */
    width: 300px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
}

.card--title {
    font-size: 28px;
}

.card--informations {
    font-style: italic;
    font-size: 18px;
}

.reset--button {
    margin-top: 15px;
    width: 70px;
    height: 60px;
    font-size: 25px;
    background-color: #00e054;
    border: #14181c;
    border-radius: 10px;
}

.reset--button:hover {
    margin-top: 15px;
    width: 70px;
    height: 60px;
    font-size: 27px;
    background-color: #038c38;
    border: #14181c;
    border-radius: 10px;
}